* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
    box-sizing: border-box;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(../assets/image\ 3.png);
    background-size: cover;
    z-index: 0;
}
.background img {
    position: fixed; /* Fixes the image in place relative to the viewport */
    bottom: 0; /* Positions it at the bottom of the page */
    left: 30%; /* Centers the image horizontally */
    transform: translateX(-50%); /* Centers the image exactly */
    z-index: 100; /* Ensures the image is on top of other elements */
    width: 30%; /* Adjust as necessary to fit the width you need */
    max-width: 100%; /* Prevents it from stretching beyond viewport width */
    pointer-events: none; /* Allows users to click on elements in front of the image */
}

/* App Container */
.main {
    background: #ffffff30;
    width: 80vh;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
}
#header {
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 4px solid #fff;
    padding-bottom: 30px;
}
.main, .buttons, .inhoud {
    z-index: 2;
    position: relative;
}

/* Knoppen */

.buttons {
    padding: 10px 0;
    width: 20vh;
    float: right;
}
.buttons h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

/* Inhoud */

.inhoud {
    padding: 20px 0;
    width: 51%;
    float: left;
    margin-right: 8%;
    color: #fff;
    margin-top: 7%;
}
.inhoud h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.inhoud p {
    margin-top: 10px;
    text-decoration: none;
    padding: 1%;
}
.inhoud a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.inhoud a:hover {
    color: #000;
}
.inhoud .contact {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Buttons*/

.btn {
    background: #ffffff30;
    color: #fff;
    font-weight: 500;
    width: 80px;
    height: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: none;
    margin: 10px;
}
.btn:hover {
    background: #fff;
    color: #000;
}

#readmore {
    padding-top: px;
    padding: 3px;
    font-size: 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #984EFF;
}

/* Animations */

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    z-index: 1;
    pointer-events: none;
}
.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}